<article class="article">
    <div class="post-container">
        <div class="post-head"> by <a href='/user/{{user.id}}' class="nochange">{{user.username}}</a> {{format_date
            created_at}}</div>
        {{#unless view}}
        <a class='post-link' href="/post/{{id}}">
            {{/unless}}
            <section class="post-body">
                <h2 class="title">
                    {{title}}
                </h2>
                {{#if post_content}}
                <p class="content">
                    {{{post_content}}}
                    {{#if (ifTruncated post_length)}}
                    <span class="nochange"> ... read more</span>
                    {{/if}}
                </p>
                {{/if}}
            </section>
            {{#unless view}}
        </a>
        {{/unless}}
        <div class="post-foot">
            <img data='{{id}}' class='post-upvote upvote-btn'>{{pos_count}}
            <img data='{{id}}' class='post-downvote downvote-btn'>{{neg_count}}
            |
            <a class='nochange' href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </div>
</article>